/* Box Sizing */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


/* Colors */
body {
  background-color: #DAC5BC;
}

header,
footer {
  background-color: #bd634f;
}

a,
a:visited {
  color: black;
  font-weight: bold;
  text-decoration:none;
}

a:hover {
  color:rgb(53, 52, 52);
}

a:active {
  text-decoration: underline;
}


/* Sizing & Spacing */
header,
footer {
  padding: 2px 0;
}

.container {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 0 auto;
}

h1,
h2,
#contact,
footer {
  text-align:center;
}

#intro {
  margin-top: 20px;
}

#intro img {
  max-width:100%; 
  margin: 0 auto;
  display:block;
}


.project-item {
  margin: 10px 0;
  padding: 5px 10px;
}

.project-item p {
  line-height: 1.5rem;
}

.project-item:nth-of-type(even) {
  background-color: #bb7d6f;
}

.project-image img {
  width: 100%;
}

.project-links {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.project-links a {
  background-color: gray;
  color: black;
  padding: .5em .75em;
  margin: 0 10px;
  text-decoration: none;
  border-radius: 10px;
  box-shadow: 2px 2px 2px black;
}

.project-links a:hover {
  font:bold;
  background-color:#a3a3a3;
  
}

/* Font Styles */
h1,
h2,
h3 {
  font-family: 'Permanent Marker',
  cursive;
}

p,
a,
li {
  font-family: 'Nunito Sans',
  sans-serif;
  font-size: 1.05em;
  line-height:1.20em;
}

hr {
  width: 100%;
}


/* DESKTOP STYLES */

@media all and (min-width: 960px) {
  .container {
    width: 75%;
  }

  .all-projects {
    display: flex;
  }

  .project-item {
    flex: 1;
  }

  .project-item h3 {
    text-align: center;
  }

  #contact {
    margin-bottom: 10px;
  }

}


